<div fxLayout="row" fxLayoutAlign="space-around">
  <mat-card fxFlex.xs="100" fxFlex.sm="66" fxFlex.md="66" fxFlex.gt-lg="50">
    <mat-card-title style="text-align: center">Random Cube Tester</mat-card-title>
    <!--  <mat-card-subtitle>Dog Breed</mat-card-subtitle>-->
    <mat-card-content>
      <form fxLayout="row" fxLayoutAlign="space-between">
        <mat-form-field>
          <mat-label>Start</mat-label>
          <input matInput [(ngModel)]="form.start" name="start">
        </mat-form-field>

        <mat-form-field>
          <mat-label>End</mat-label>
          <input matInput [(ngModel)]="form.end" name="end">
        </mat-form-field>
      </form>

      <p class="display-1" style="text-align: center">{{cubeNumber | number}}</p>

      <p class="display-4" *ngIf="showBaseNumber" style="text-align: center">{{baseNumber | number}}</p>
    </mat-card-content>

    <mat-card-actions>
      <button mat-button (click)="revealNumber()">Reveal</button>
      <button mat-button color="primary" (click)="setRandomCube()">New</button>
    </mat-card-actions>
  </mat-card>
</div>

